body {
  direction: rtl;
  text-align: right;
}

header {
  flex-direction: row-reverse;
}

.admin-table th, .admin-table td {
  text-align: right;
}

.btn-sm {
  margin-right: 0;
  margin-left: 0.25rem;
}